#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

.cart{
  background: white;
  color: black;
  max-width: 310px;
}

.products-container{
  display: flex;
  flex-wrap: wrap;

}

.product-card {
  width: 320px;
  border: solid 1px;
  border-radius: 22px;
  margin: 22px 16px;
}

/* .product-card:hover {
  filter: drop-shadow(0 0 0.3em #878793aa);
} */

.product-card > img {
  /* border: solid 1px lightcoral; */
  width: 100%;
  height: 360px;
  border-radius: 20px 20px 0 0;
}

.product-info{
  display: flex;
  justify-content: space-around;

}




